// 格式化iview样式文件

// layout布局使用组件格式化
.ivu-layout-sider{
    background: @sider-bg;
}
.ivu-menu-dark{
    background: @sider-bg;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{
    background: none;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
    background: @sider-bg;
}
.nest-menu{
    background: @menu-bg;
}

// 详情页面 form表单item宽度
.detail-form .ivu-form-item{
    width: @form-item-width;
}